 @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
 :root{
    --ghost-white: #f8f9fd;
    --fire-bush: #e99c2f;
    --granite-gray: #626a6a;
    --baltic-sea: #33383c;
    --trans: all 0.5s ease-in-out;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}
body{
    line-height: 1.5;
    font-weight: 400;
}

/* resets and resuable stylings */
img{
    display: block;
    
    
    width: 80%;
}
button{
    cursor: pointer;
    outline: 0;
}
a{
    text-decoration: none;
    color:#ec409e;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.text{
    font-size: 2rem;
    margin: 1 rem 0;
    line-height: 1.7;
}
header{
    background: var(--ghost-white);
    

}
header 
.container{
    display: flex;
    flex-direction: column;
}
.navigationbar{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 1.5rem 1rem!important;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 2rem 0;
    background: var(--ghost-white);
    z-index: 999;

}
.navigationbar-brand{
    font-size: 2rem;
    font-weight: 600;
    color: var(--granite-gray);
    justify-self: flex-start;
    
}

.navigationbar-toggler{
    justify-self: center;
    border: none;
    color: #fff;
    background: var(--baltic-sea);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 2rem;
    position: relative;
}


